<!doctype html>

{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <title>Django Girls blog</title>

    </head>
    <meta charset="utf-8"/>
    <body>
    <div class="page-header">
        {% if user.is_authenticated %}
         <a href="/post/new/" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>

         <p class="top-menu">Hello {{ user.username }} <small>(<a href="accounts/logout">Log out</a>)</small></p>
        {% else %}
         <a href="accounts/login" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}

         <h1><a href="/">수 동 사 우 나 </a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>

    </body>
</html>